meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')/
meta(http-equiv='Content-Language', content='en')/

= '\n'

meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')/

= '\n'

meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')/
meta(http-equiv='ScreenOrientation', content='autoRotate:disabled')/
meta(name='format-detection', content='telephone=no')/
