= '\n'

// for Facebook
meta(property='og:site_name', content=pkg.title)/
meta(property='og:title', content=pkg.title)/
meta(property='og:type', content='website')/
meta(property='og:image', content='https://portfolio.metodiev.dev/assets/images/cover.png?hash=' + Date.now())/
meta(property='og:url', content=pkg.homepage)/
meta(property='og:description', content=pkg.description)/
