= '\n'

// for Twitter
meta(name='twitter:site', content='@methodev')/
meta(name='twitter:card', content='summary_large_image')/
meta(name='twitter:title', content=pkg.title)/
meta(name='twitter:description', content=pkg.description)/
meta(name='twitter:image', content='https://portfolio.metodiev.dev/assets/images/cover.png?hash=' + Date.now())/
meta(name='twitter:image:alt', content=pkg.title)/
