/* =========================| Discontinued |========================= */



.discontinued {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 6px 0;
  color: $body-bg;
  text-align: center;
  background-color: $col-orange;
}
